body{
    font-family: loto, sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
code{
    padding-left: 4px;
    padding-right: 4px;
    background:#F8F9FA;
    color: #198754;;
    border-radius: 2px;
    font-size: 14px;
}